<app-header title="Shopping Cart" [showBackButton]="true"></app-header>

<ion-content class="cart-content">

	@if (cart.getCartItems().length>0){

		<ion-list lines="none">

			<ion-row>

				@for (item of cart.getCartItems(); track item.product.id; let i = $index){

					<ion-col size="2">

						<app-item [item]="item" ></app-item>

					</ion-col>

				}

			</ion-row>

		</ion-list>

		<ion-grid class="summary">

			<ion-row>

				<ion-col size="12" class="total-section">

					<h2>Cart Summary</h2>

					<div class="total-line">

						<span>Total items:</span>
						<span>{{ cart.getTotalItems() }}</span>

					</div>

					<div class="total-line">

						<span>Total pay:</span>
						<span class="total-price">{{ this.cart.getTotalPrice() | currency }}</span>

					</div>

					<ion-button expand="block" (click)="checkout()" class="checkout-btn">Buy</ion-button>

				</ion-col>

			</ion-row>

		</ion-grid>

	}@else{

		<div class="empty-cart">

			<ion-icon name="cart-outline" class="empty-icon"></ion-icon>

			<h2>Your cart is empty</h2>

			<ion-button [routerLink]="['/']">Keep Shopping</ion-button>

		</div>

	}

</ion-content>