
<app-header title="Store Bazaar" [showBackButton]="false"></app-header>

<ion-content>

<div class="filter-container">

	<div class="sort-control">

		<ion-button fill="empty" (click)="toggleSort()">

			{{ getFilter().getSortOrder() ? '↑ Price' : '↓ Price' }}

		</ion-button>

	</div>
	
	<div class="category-control">

		<ion-select interface="popover" (ionChange)="onCategoryChange($event)" [value]="getFilter().getSelectedCategory()">

			<ion-select-option value="all">All Categories</ion-select-option>

			@for (category of categories; track $index){

				<ion-select-option [value]="category">

					{{ category | titlecase }}

				</ion-select-option>

			}

		</ion-select>

	</div>

</div>

	@if (products.length > 0){

		<ng-container>

			<ion-grid class="products-grid">

				<ion-row>

					@for (product of products; track product.id){

						<ion-col>

							<app-product-card [product]="product"></app-product-card>

						</ion-col>

					}

				</ion-row>

			</ion-grid>

		</ng-container>

	}

</ion-content>
